<!DOCTYPE html>
<html>
<head>
  {{> common-head title="Balance"}}
  <script>
    function computeStyle(myAmount, maxAmmount){
      const ratio = 100 * myAmount / maxAmmount
      const width = Math.abs(ratio / 2)
      const left = myAmount > 0 ? 50 : 50-width
      console.log({left, width})
      return `width: ${width}%; left: ${left}%`
    }
  </script>
</head>
<body hx-ext="head-support" hx-boost="true">
  <section>  
    <header>
      <h1>Balance</h1>
      <span>{{project.name}}</span>
    </header>
    <nav>
      <a href=".." >Back</a>  
    </nav>
    <article class="grid mt-4 border rounded-xl px-4 input-bordered">
      {{#each balance}}
      <div  class="text-xl justify-between flex items-center gap-4 py-4 border-b last:border-b-0 input-bordered cursor-pointer">
          <span>{{participant}}</span>
          <span class="{{#if (gt diff 0)}}text-success{{else}}text-warning{{/if}}">{{currency diff ../project.currency }}</span>
      </div>
      {{/each}}
    </article>
  </section>
</body>
</html>