{{#> body }}
<h1>Kobe</h1>
<ul class="list-disc pl-4">
  {{#each projects}}
  <li>
    <a href="project/{{this.id}}" class="link block">
      <h3>{{this.name}}</h3>
    </a>
  </li>
  {{/each}}
</ul>
{{/body}}