<!DOCTYPE html>
<html lang="en">

{{#> head}}
  <script>
    function getPath(){
      const hash = window.location.hash.replace('#', '')
      return hash.split('/').filter(Boolean)
    }
    function getQs(){
      return Object.fromEntries(new URLSearchParams(window.location.search)) 
    }
    const CURR_MAX_DEC = {"IDR":0,"BIF":0,"CLP":0,"DJF":0,"GNF":0,"ISK":0,"JPY":0,"KMF":0,"KRW":0,"PYG":0,"RWF":0,"UGX":0,"UYI":0,"VND":0,"VUV":0,"XAF":0,"XOF":0,"XPF":0,"BHD":3,"IQD":3,"JOD":3,"KWD":3,"LYD":3,"OMR":3,"TND":3,"CLF":4,"UYW":4}
    function toCurrency(curr, amount){
      const digits = CURR_MAX_DEC[curr]??2
      return Intl
        .NumberFormat(undefined, { style: 'currency', currency: curr, minimumFractionDigits:digits, maximumFractionDigits:digits})
        .format(amount)
    }
    function shortDate(dateString) {
      const months = [ 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ];
      const date = new Date(dateString);
      const day = date.getDate();
      const month = months[date.getMonth()];
      return `${day} ${month}`;
    }
    function randKey(prefix, length = 8) {
      const keys = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'
      let res = '';
      for (let i = 0; i < length; i++) {
        const index = Math.floor(Math.random() * keys.length);
        res += keys.charAt(index);
      }
      return prefix + res;
    }

  </script>
{{/head}}

<body 
  class="flex flex-col gap-4 pt-4 h-screen" 
  x-cloak="" 
  x-data="{ 
    path: getPath(), qs: getQs(), 
    projects:[], allLines:[],  
    projectId: undefined, lineId: undefined,
    project: {}, lines: [], line: {split:[]},
    currencies: ['EUR', 'IDR', 'SGD', 'USD']
  }"
  x-init="
    fetch('/data.json').then(r => r.json()).then(data => { projects = data.projects; allLines = data.lines; console.log({data}) })
    addEventListener('hashchange', () => { path = getPath() });
  ";
  x-effect="
    project = projects.find(p => p.id === projectId) || {}
    lines = allLines.filter(l => l.project_id === projectId)
    line = lines.find(l => l.id === lineId) || {split:[]}
    console.log(JSON.parse(JSON.stringify($data)))
  "

>

{{!-- / --}}
<section x-show="path.length === 0"> 
  {{> index}}
</section>

{{!-- /projects/:projectId --}}
<section 
  x-show="path[0] === 'projects' && path.length === 2" 
  x-init="projectId = path[1]"
>
  {{> projects}}
</section>

{{!-- /projects/:projectId/balance --}}
<section 
  x-show="path[0] === 'projects' && path[2] === 'balance' && path.length === 3" 
  x-init="projectId = path[1]"
>
  {{> project-balance}}
</section>

{{!-- /projects/:projectId/settings --}}
<section 
  x-show="path[0] === 'projects' && path[2] === 'settings' && path.length === 3" 
  x-init="projectId = path[1]"
  >
  {{> project-settings}}
</section>

{{!-- /projects/:projectId/reim --}}
<section 
  x-show="path[0] === 'projects' && path[2] === 'reim' && path.length === 3" 
  x-init="projectId = path[1]"
>
  {{> project-settings}}
</section>

{{!-- /projects/:projectId/lines/:lineId --}}
<section 
  x-show="path[0] === 'projects' && path[2] === 'lines' && path.length === 4" 
  x-init="projectId = path[1]; lineId = path[3]"
>
  {{> project-line}}
</section>

</body>