<!DOCTYPE html>
<head>
  <meta charset="UTF-8"  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{default title "Kobe"}}</title>
  <link href="/assets/styles.css" rel="stylesheet">
  <script src="/assets/htmx.js" defer=""></script>
  <script src="/assets/alpine.js" defer=""></script>
  <link rel="shortcut icon" type="image/svg+xml" href="/assets/icon-512x512.png"/>
  <link rel="manifest" href="/projects/{{project.id}}/manifest.json" />
  <script>
    window.onerror = function(message, url, lineNumber) {  
      alert(JSON.stringify({message, url, lineNumber}))
    };  
  </script>
  {{> @partial-block }}
</head>