<script>
  function addProject(event){
    const name = prompt('New project name');
    if(name==null) return []
    const nextProject = {id: randKey('pro_'), name, participants:[], currency: 'EUR', pending: new Date().toISOString()};
    return [nextProject]
  }
</script>

<h1>Kobe</h1>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4  gap-4">
  <template x-for="project in projects">
  <a :href="'#projects/'+project.id" class="p-8 rounded-md shadow-xl bg-primary hover:bg-primary/70 transition-colors">
    <h2 x-text="project.name" class="text-xl font-semibold text-center "></h2>
  </a>
  </template>
</div>
<button class="absolute right-4 bottom-4 btn btn-lg btn-primary btn-circle" @click="projects = projects.concat(addProject())">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
  </svg>
</button>