<script>
  function newParticipant(event){
    const name = prompt('New participant name')
    return name ? [name] : undefined
  }
</script>

<header>
  <h1>Settings</h1>
  <span x-text="project.name"></span>
</header>
<nav>
  <a :href="'/#projects/'+projectId">Back</a>
</nav>
<form @submit.prevent="
  project.participants.push(...newParticipants)
  project.currency = new FormData($el).get('currency')
  project.pending = new Date().toISOString()
  newParticipants = []
  window.location.hash = 'projects/'+projectId
  "  x-data="{newParticipants:[]}" class="grid gap-4" >
  <h3>Participants</h3>
  <fieldset class="flex flex-col pl-4 gap-2">
    <template x-for="participant in project.participants">
    <span x-text="participant"></span>
    </template>
    <template x-for="participant in newParticipants">
       <span x-text="'New: ' + participant"></span>
    </template>
    <div>
      <button @click.prevent="
        const name = prompt('New participant name')
        if(name) newParticipants.push(name)
        " class="btn btn-sm">Add a participant</button>
    </div>
  </fieldset>

    <h3>Currency</h3>
  <fieldset >
    <select x-model="project.currency" name="currency" class="select select-bordered">
      <template x-for="currency in currencies">
      <option :value="currency" x-text="currency"></option>
      </template>
    </select>
  </fieldset>
  <div class="flex justify-end">
    <button class="btn btn-primary">Save</button>
  </div>
</form>