<script>
  function requestName(event){
    const name = prompt('New participant name')
    if(name==null) return event.preventDefault();
    document.querySelector('input[name=participant]').value = name
  }
</script>

<header>
  <h1>Reimburse</h1>
  <span x-text="project.name"></span>
</header>
<nav>
  <a :href="'/#projects/'+projectId">Back</a>
  <a :href="'/#projects/'+projectId+'/balance'">Balance</a>
  <a :href="'/#projects/'+projectId+'/settings'">Settings</a>
</nav>
<div class="grid gap-2" x-data="{balances: []}" x-effect="balances = computeBalance(computeExpenses(lines)) ">
  <template x-for="balance in balances">
  <article class="flex items-center justify-between border-y p-2">
    <div class="grid">
      <span x-text="balance.to" class="text-xl text-primary font-semibold"></span>
      <span class="text-sm">owes</span>
      <span x-text="balance.from" class="text-xl text-primary font-semibold"></span>
    </div>
    <div x-text="toCurrency(project.currency, balance.amount)" class="text-xl text-primary"></div>
  </article>
  </template>
</div>