<script>
  function requestName(event){
    const name = prompt('New participant name')
    if(name==null) return event.preventDefault();
    document.querySelector('input[name=participant]').value = name
  }
</script>

<header>
  <h1>Settings</h1>
  <span x-text="project.name"></span>
</header>
<nav>
  <a :href="'/#projects/'+projectId+'/balance'">Back</a>
</nav>
<div>
  Participants:
  <ul class="grid pl-4 gap-2 pt-2">
    <template x-for="participant in project.participants">
    <label class="flex gap-4 items-center">
      <input name="me" x-model="participant" type="radio" class="radio radio-sm"/>
      <span x-text="participant"></span>
    </label>
    </template>
    <span x-show="project.participants.length===0">(no participants)</span>
    <form action="/project/{{project.id}}/participant" method="post" onsubmit="requestName(event)">
      <input name="participant" type="hidden"/>
      <button class="link">Add a participant</button>
    </form>
</ul>
</div>
<hr></hr>
<form action="/project/{{project.id}}/settings" method="post">
  <label>
    <span class="label label-text">Currency</span>
    <select x-model="project.currency" name="currency" class="select select-bordered" onchange="event.target.form.submit()">
      <template x-for="currency in currencies">
      <option :value="currency" x-text="currency"></option>
      </template>
    </select>
  </label>
</form>