<header>
  <h1 x-text="project.name"></h1>
  <span>Spendings</span>
</header>
<nav>
  <a href="#">Back</a>
  <a x-show="search != null" @click="search=undefined">Close search</a>
  <a x-show="search == null" @click="search=''">Search</a>
  <a :href="'#projects/'+projectId+'/balance'">Balance</a>
</nav>

<form>
  <input x-show="search != null" x-model="search" type="search" class="input input-bordered w-full" name="q" autofocus="" placeholder="Search ..." autocomplete="off"/>
</form>

<div class="flex flex-col gap-2 pb-12 h-full overflow-y-scroll px-0">
  <template x-for="line in lines">
  <a :href="'#projects/'+projectId+'/lines/'+line.id" class="odd:bg-primary/10 even:bg-secondary/10 py-2 px-4">
    <article class="grid">
      <div class="flex justify-between">
        <h3 x-text="line.name + (line.pushedAt ? '...': '')" class="text-primary font-semibold text-xl"></h3>
        <span x-text="toCurrency(line.currency, line.amount)" class="text-primary"></span>
      </div>
      <div class="flex justify-between text-sm">
        <p x-text="'Paid by '+line.paid"></p>
        <p x-text="shortDate(line.created_at)"></p>
      </div>
    </article>
  </a>
  </template>
</div>
<span x-show="lines.length ===0">You don't have any spending yet.</span>
<a :href="'/#projects/'+projectId+'/lines/'+randKey('lin_')">
  <button class="absolute right-4 bottom-4 btn btn-lg btn-primary btn-circle">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
    </svg>
  </button>
</a>